# Entornos virtuales
venv/
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Outputs generados
outputs/
data/processed/

# Notebooks temporales
.ipynb_checkpoints/
*.pyc

# VS Code
.vscode/

#Entradas de fotos
data/photo/

