# Entornos virtuales
venv/
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Outputs generados
outputs/
data/
checkpoints/

# Notebooks temporales
.ipynb_checkpoints/
*.pyc

# VS Code
.vscode/

#Entradas de fotos
data/
model_u2net/

# Anything_Model
segment_anything/
yolov8n-seg.pt
*.pth
*.pt