# Entornos virtuales
venv/
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Outputs generados
outputs/
data/

# Notebooks temporales
.ipynb_checkpoints/
*.pyc

# VS Code
.vscode/

#Entradas de fotos
data/photo/
model_u2net/u2net_human_seg/

# Anything_Model
segment_anything/sam_vit_h_4b8939.pth/
yolov8n-seg.pt/